.contact-container{
    display: flex;
}
.contact-section{
    width: 100%;
    align-items: center;
}

.Contact-info{
    color: red;
    max-width: 800px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    padding-top: 150px;
    

}

.contact-form{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    padding-top: 50px;
}
